/*--------------------
CSS color changer
-----------------------*/
body.deeppink-color-body {
  /*-----------------------------------
  Background setting
  -----------------------------------*/
  /*-----------------------------------
  Color setting
  -----------------------------------*/
  /* ----------------------------------
  Border Color Setting 
  -------------------------------------*/
}
body.deeppink-color-body .demo-panel-setting-area,
body.deeppink-color-body .header-area .main-menu ul li.active::after,
body.deeppink-color-body .header-area .main-menu ul li:hover::after,
body.deeppink-color-body .header-area .customer-testiminal-area,
body.deeppink-color-body .slider-area .slider-2 div.slider-botton ul li.acitve a,
body.deeppink-color-body .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before,
body.deeppink-color-body .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before,
body.deeppink-color-body .slider-area .slider-2 div.slider-botton ul li.acitve a,
body.deeppink-color-body .slider-area .slider-2 div.slider-botton ul li a:hover #scrollUp:hover,
body.deeppink-color-body .slider-area .slider-2 div.slider-botton ul li a:hover,
body.deeppink-color-body .section-area h2::after,
body.deeppink-color-body .who-we-are-area .skill .progress:nth-child(1) .progress-bar,
body.deeppink-color-body .who-we-are-area .skill .progress-bar > span::before,
body.deeppink-color-body .who-we-are-area .skill .progress:nth-child(2) .progress-bar,
body.deeppink-color-body .who-we-are-area .skill .progress:nth-child(3) .progress-bar,
body.deeppink-color-body .who-we-are-area .skill .progress:nth-child(4) .progress-bar,
body.deeppink-color-body .who-we-are-area .skill .progress-bar > span,
body.deeppink-color-body .why-choose-us-area .single-choose .icon:hover a,
body.deeppink-color-body .counter-up-area .ab-count .about-counter-list h1.about-counter::after,
body.deeppink-color-body .testimonial .testimonial-area .owl-controls .owl-pagination .owl-page span,
body.deeppink-color-body .footer-top-area .widget .social-media ul li a,
body.deeppink-color-body .footer-top-area .widget .popular-tags ul li:hover,
body.deeppink-color-body .footer-top-area .widget form .subscribe a,
body.deeppink-color-body .footer-bottom-area,
body.deeppink-color-body #scrollUp,
body.deeppink-color-body .header-two-area .main-menu2-area ul li.active,
body.deeppink-color-body .header-two-area .main-menu2-area ul li ul,
body.deeppink-color-body .header-two-area .main-menu2-area ul li:hover,
body.deeppink-color-body .header-two-area .social-media ul li a,
body.deeppink-color-body .header-two-area .social-media ul li a:hover,
body.deeppink-color-body .footer-top-area2 .widget .social-media ul li a,
body.deeppink-color-body .footer-top-area2 .widget form .subscribe a,
body.deeppink-color-body .footer-top-area2 .widget .popular-tags ul li:hover,
body.deeppink-color-body .footer-bottom-area2,
body.deeppink-color-body .section-area2 h2::after,
body.deeppink-color-body .service-area .single-service .services-icon a,
body.deeppink-color-body .home2-about-us .about-content .see-more a,
body.deeppink-color-body .team-area.team-area2 .single-team::before,
body.deeppink-color-body .team-area.team-area2 .single-team:hover::after,
body.deeppink-color-body .team-area.team-area2 .single-team .team-details .social-media ul li a:hover,
body.deeppink-color-body .home2-testimonial-area .home2-testimonial .owl-controls .owl-pagination .owl-page span,
body.deeppink-color-body .about-page-area .about-us-content .our-features-list .single-feature > a,
body.deeppink-color-body .what-we-do-start-here .single-feature:hover,
body.deeppink-color-body .main-servires-area .main-services-content .read-more a,
body.deeppink-color-body .price-table-area .single-price-table .price-title,
body.deeppink-color-body .price-table-area .single-price-table.active .signup a,
body.deeppink-color-body .price-table-area .single-price-table .signup a:hover,
body.deeppink-color-body .widget h2::after,
body.deeppink-color-body .single-services-area .services-content .main-single-service h3::after,
body.deeppink-color-body .sidebar-area .widget .price-area a,
body.deeppink-color-body .sidebar-area .widget .popular-tags ul li:hover,
body.deeppink-color-body .shop-page-area .tab-content .tab-pane .single-product-area .product-image .overley .product-details .product-info ul li a:hover,
body.deeppink-color-body .pagination-area ul li a:hover,
body.deeppink-color-body .pagination-area ul li.active a,
body.deeppink-color-body .shop-page-area .product-list-view-area .list-single-product .media .media-body h4.media-heading::after,
body.deeppink-color-body .shop-page-area .product-list-view-area .list-single-product .media .media-body .read-more a,
body.deeppink-color-body .single-product-area .product-details h3::after,
body.deeppink-color-body .single-product-area .product-details .product-cart-area ul li a:hover,
body.deeppink-color-body .single-product-area .add-cart a,
body.deeppink-color-body .single-product-area .single-product-tab .owl-buttons .owl-next,
body.deeppink-color-body .single-product-area .single-product-tab .owl-buttons .owl-prev,
body.deeppink-color-body .related-product-area h3::after,
body.deeppink-color-body .related-product-area .single-product-store .owl-buttons div,
body.deeppink-color-body .related-product-area .single-product-store .single-product .shop-overley .social-media-area ul li a:hover,
body.deeppink-color-body .team-member-area .total-teams .single-teams .media .media-body h4.media-heading a::before,
body.deeppink-color-body .team-member-area .total-teams .single-teams .media .media-body .social-media ul li a:hover,
body.deeppink-color-body .team-member-area .total-teams .owl-controls .owl-pagination .owl-page.active span,
body.deeppink-color-body .team-member-area .total-teams .owl-controls .owl-pagination .owl-page span,
body.deeppink-color-body .portfolio-one-area .portfolio-menu ul li.active::after,
body.deeppink-color-body .portfolio-one-area .portfolio-menu ul li:hover::after,
body.deeppink-color-body .portfolio-details-area .portfolio-informations h3::after,
body.deeppink-color-body .portfolio-details-area .portfolio-informations .visit-project a,
body.deeppink-color-body .portfolio-details-area .project-description h3::after,
body.deeppink-color-body .portfolio-details-area .related-project h3::after,
body.deeppink-color-body .single-blog-area .comments-area h3::after,
body.deeppink-color-body .single-blog-area .comments-area .single-comments-box .reply,
body.deeppink-color-body .error-page-area .go-back a,
body.deeppink-color-body .contact-page-area .contact-informations h3::after,
body.deeppink-color-body .contact-page-area .contact-form h3::after,
body.deeppink-color-body .contact-page-area .contact-form .main-contact-form fieldset .btn-send,
body.deeppink-color-body .header-two-area .cart-area a {
  background: #ff1493 !important;
}
body.deeppink-color-body .why-choose-us-area .single-choose .icon:hover a i {
  color: #ffffff !important;
}
body.deeppink-color-body .demo-panel-setting-area .cross-button,
body.deeppink-color-body .header-area .main-menu ul li:hover a,
body.deeppink-color-body .header-area .header-right-part ul li:hover a,
body.deeppink-color-body .header-area .main-menu ul li.active a,
body.deeppink-color-body .header-area .main-menu ul li:hover a,
body.deeppink-color-body .header-area .main-menu ul li ul li a:hover .slider-area .slider-2 h1 span,
body.deeppink-color-body .header-area .customer-testiminal-area .hamber-menu-area .close:hover i,
body.deeppink-color-body .slider-area .slider-2 h1 span,
body.deeppink-color-body .why-choose-us-area .single-choose h3 a:hover,
body.deeppink-color-body .why-choose-us-area .single-choose .icon a i,
body.deeppink-color-body .portfolio-area .single-portfolio .overley .portfolio-details h3 a:hover,
body.deeppink-color-body .counter-up-area .ab-count .about-counter-list h1.about-counter,
body.deeppink-color-body .team-area .single-team .team-details h3 a:hover,
body.deeppink-color-body .team-area .single-team .team-image .overley .team-link a i:hover,
body.deeppink-color-body .team-area .single-team .team-image .overley .social-media ul li a:hover,
body.deeppink-color-body .blog-area .single-blog .blog-details .read-more::after,
body.deeppink-color-body .blog-area .single-blog:hover .blog-image .overley .blog-link a i,
body.deeppink-color-body .blog-area .single-blog:hover .blog-details h3 a,
body.deeppink-color-body .blog-area .single-blog:hover .blog-details .blog-info ul li i,
body.deeppink-color-body .blog-area .single-blog:hover .blog-details .read-more a,
body.deeppink-color-body .blog-area2 .single-blog .blog-details .read-more::after,
body.deeppink-color-body .blog-area2 .single-blog:hover .blog-image .overley .blog-link a i,
body.deeppink-color-body .blog-area2 .single-blog:hover .blog-details h3 a,
body.deeppink-color-body .blog-area2 .single-blog:hover .blog-details .blog-info ul li i,
body.deeppink-color-body .blog-area2 .single-blog:hover .blog-details .read-more a,
body.deeppink-color-body .footer-top-area .widget .menu-header-container ul li a:hover,
body.deeppink-color-body .footer-top-area2 .widget .menu-header-container ul li a:hover,
body.deeppink-color-body .section-area2 h2 span,
body.deeppink-color-body .service-area .single-service h3 a:hover,
body.deeppink-color-body .home2-about-us .about-content h2 span,
body.deeppink-color-body .home2-testimonial-area .home2-testimonial .single-testimonial .image a::after,
body.deeppink-color-body .about-page-area .about-us-content .our-features-list .single-feature h3 a:hover,
body.deeppink-color-body .page-header-area ul li:last-child,
body.deeppink-color-body .widget .services-tab ul.nav.nav-tabs li.active a,
body.deeppink-color-body .widget .services-tab ul.nav.nav-tabs li a:hover,
body.deeppink-color-body .sidebar-area .widget.widget_categories ul li a::after,
body.deeppink-color-body .sidebar-area .widget.widget_categories ul li a:hover,
body.deeppink-color-body .sidebar-area .widget .posted-date a:hover,
body.deeppink-color-body .sidebar-area .widget .price a:hover,
body.deeppink-color-body .shop-page-area .tobar-area .view-area ul.nav-tabs li a,
body.deeppink-color-body .shop-page-area .tobar-area .view-area ul.nav-tabs li a:hover,
body.deeppink-color-body .shop-page-area .tobar-area .view-area ul.nav-tabs li.active a:hover,
body.deeppink-color-body .shop-page-area .tab-content .tab-pane .single-product-area .product-image .overley .product-details .product-title h3 a:hover,
body.deeppink-color-body .shop-page-area .tab-content .tab-pane .single-product-area .product-image .overley .product-details .product-price h3:hover,
body.deeppink-color-body .shop-page-area .product-list-view-area .list-single-product .media .media-body h4.media-heading a:hover,
body.deeppink-color-body .product-description ul.nav.nav-tabs li.active,
body.deeppink-color-body .product-description ul.nav.nav-tabs li a:hover,
body.deeppink-color-body .product-description ul.nav.nav-tabs li.active a,
body.deeppink-color-body .related-product-area .single-product-store .product-content p,
body.deeppink-color-body .related-product-area .single-product-store .product-content h3 a:hover,
body.deeppink-color-body .team-member-area .total-teams .single-teams .media .media-body h4.media-heading a:hover,
body.deeppink-color-body .portfolio-one-area .single-portfolio .overley .portfolio-details h3 a:hover,
body.deeppink-color-body .portfolio-one-area .portfolio-menu ul li:hover,
body.deeppink-color-body .portfolio-one-area .portfolio-menu ul li.active,
body.deeppink-color-body .portfolio-details-area .related-project .single-portfolio .overley .portfolio-details h3 a:hover {
  color: #ff1493 !important;
}
body.deeppink-color-body .slider-area .slider-2 div.slider-botton ul li a,
body.deeppink-color-body .who-we-are-area .skill .progress-bar > span::before,
body.deeppink-color-body .why-choose-us-area .single-choose .icon a,
body.deeppink-color-body .footer-top-area .widget .social-media ul li a,
body.deeppink-color-body .footer-top-area .widget form .subscribe a,
body.deeppink-color-body .footer-top-area .widget .popular-tags ul li,
body.deeppink-color-body .header-area.stick,
body.deeppink-color-body .header-two-area .social-media ul li a,
body.deeppink-color-body .footer-top-area2 .widget .social-media ul li a,
body.deeppink-color-body .footer-top-area2 .widget .popular-tags ul li,
body.deeppink-color-body .home2-testimonial-area .home2-testimonial .single-testimonial .image a img,
body.deeppink-color-body .about-page-area .about-us-image img:hover,
body.deeppink-color-body .price-table-area .single-price-table .signup a:hover,
body.deeppink-color-body .price-table-area .single-price-table.active .signup a,
body.deeppink-color-body .sidebar-area .widget .popular-tags ul li:hover,
body.deeppink-color-body .shop-page-area .tab-content .tab-pane .single-product-area .product-image .overley .product-details .product-info ul li a:hover,
body.deeppink-color-body .pagination-area ul li a,
body.deeppink-color-body .single-product-area .product-details .product-cart-area ul li a:hover,
body.deeppink-color-body .team-member-area .total-teams .single-teams .media .media-body .social-media ul li a:hover,
body.deeppink-color-body .portfolio-details-area .portfolio-informations .visit-project a,
body.deeppink-color-body .error-page-area .go-back a {
  border-color: #ff1493 !important;
}
